@charset "utf-8";

/* fontawesome */
@import url(fontawesome.css);

/* Monterrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ScoreDream */
@font-face {
    font-family: 'SCoreDream';
    font-weight: 100; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff) format('woff');
    font-display: swap;
}

/* Noto Sans CJK KR */
@font-face {
    font-weight: 200;
    font-family: 'NotoSansKR';
    font-style: light;
    src: url(font/NotoSansKR-Light.woff2) format("woff2"),url(font/NotoSansKR-Light.woff) format("woff"),
    url(font/NotoSansKR-Light.otf) format("otf");
    font-display: swap;
}
@font-face {
    font-weight: 400;
    font-family: 'NotoSansKR';
    font-style: normal;
    src: url(font/NotoSansKR-Regular.woff2) format("woff2"),url(font/NotoSansKR-Regular.woff) format("woff"),
    url(font/NotoSansKR-Regular.otf) format("otf");
    font-display: swap;
}
@font-face {
    font-weight: 500;
    font-family: 'NotoSansKR';
    font-style: medium;
    src: url(font/NotoSansKR-Medium.woff2) format("woff2"),url(font/NotoSansKR-Medium.woff) format("woff"),
    url(font/NotoSansKR-Medium.otf) format("otf");
    font-display: swap;
}
@font-face {
    font-weight: 700;
    font-family: 'NotoSansKR';
    font-style: bold;
    src: url(font/NotoSansKR-Bold.woff2) format("woff2"),url(font/NotoSansKR-Bold.woff) format("woff"),
    url(font/NotoSansKR-Bold.otf) format("otf");
    font-display: swap;
}

/* Segoe */
@font-face {
    font-weight: 500;
    font-family: 'Segoe-UI';
    font-style: normal;
    src: url(font/Segoe-UI-Regular.woff2) format("woff2"),url(font/Segoe-UI-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-weight: 500;
    font-family: 'Segoe-UI';
    font-style: normal;
    src: url(font/Segoe-UI-Bold.woff2) format("woff2"),url(font/Segoe-UI-Bold.woff) format("woff");
    font-display: swap;
}

/* Happiness Sans */
@font-face {
    font-family: 'Happiness-Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

/* tvN Enjoystories */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ok gung-seo */
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* GmarketSans */
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 200;
    font-style: Medium;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 600;
    font-style: Bold;
}

/* GangwonEduPower */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* aggro */
@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 400;
    font-style: light;
}
@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}

/* EliceDigitalBaeum */
@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: 400;
    font-style: medium;
}
@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: 600;
    font-style: bold;
}

/* LOTTERIACHAB */
@font-face {
    font-family: 'lotteriachab';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Consola Mono */
@font-face {
    font-family: 'ConsolaMono';
    font-style: normal;
    font-weight: 400;
    src: local('Consola Mono'), url('https://fonts.cdnfonts.com/s/78407/ConsolaMono-Book.woff') format('woff');
}
@font-face {
    font-family: 'ConsolaMono';
    font-style: normal;
    font-weight: 700;
    src: local('Consola Mono'), url('https://fonts.cdnfonts.com/s/78407/ConsolaMono-Bold.woff') format('woff');
}

/* bodoni */
@font-face{
    font-family:'bodoni';
    font-style:normal;
    font-weight:400;
    src:local('Bodoni'),url(https://fonts.cdnfonts.com/s/14285/bodoni_[allfont.net].woff) format('woff');
}

/* maruburi */
@font-face {
    font-family: 'MaruBuri';
    font-weight: 400; 
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"),
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'MaruBuri';
    font-weight: 500; 
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'MaruBuri';
    font-weight: 600; 
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix) format("embedded-opentype"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2) format("woff2"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff) format("woff"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'MaruBuri';
    font-weight: 300; 
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix) format("embedded-opentype"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2) format("woff2"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff) format("woff"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'MaruBuri';
    font-weight: 100; 
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix) format("embedded-opentype"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2) format("woff2"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff) format("woff"), 
    url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf) format("truetype");
}

/* Apple SD Gothic Neo */
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:100; 
    src:local('Apple SD Gothic Neo Thin'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/100_AppleSDGothicNeo-Thin.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/100_AppleSDGothicNeo-Thin.otf) format('opentype')
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:200; 
    src:local('Apple SD Gothic Neo UltraLight'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/200_AppleSDGothicNeo-UltraLight.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/200_AppleSDGothicNeo-UltraLight.otf) format('opentype') 
}
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:300; 
    src:local('Apple SD Gothic Neo Light'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/300_AppleSDGothicNeo-Light.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/300_AppleSDGothicNeo-Light.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:400; 
    src:local('Apple SD Gothic Neo Medium'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/400_AppleSDGothicNeo-Medium.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/400_AppleSDGothicNeo-Medium.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:500; 
    src:local('Apple SD Gothic Neo Regular'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/500_AppleSDGothicNeo-Regular.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/500_AppleSDGothicNeo-Regular.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:600; 
    src:local('Apple SD Gothic Neo SemiBold'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/600_AppleSDGothicNeo-SemiBold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/600_AppleSDGothicNeo-SemiBold.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:700; 
    src:local('Apple SD Gothic Neo Bold'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/700_AppleSDGothicNeo-Bold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/700_AppleSDGothicNeo-Bold.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:800; 
    src:local('Apple SD Gothic Neo ExtraBold'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/800_AppleSDGothicNeo-ExtraBold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/800_AppleSDGothicNeo-ExtraBold.otf) format('opentype') 
} 
@font-face { 
    font-family:'Apple SD Gothic Neo'; 
    font-style:normal; 
    font-weight:900; 
    src:local('Apple SD Gothic Neo Heavy'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/900_AppleSDGothicNeo-Heavy.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/fonts/900_AppleSDGothicNeo-Heavy.otf) format('opentype') 
} 

/* Moonlight Regular */
@font-face { 
    font-family:'Moonlight-Regular'; 
    font-style:normal; 
    font-weight:100; 
    src:url("font/Moonlight-Regular.eot"),
        url("font/Moonlight-Regular.woff")format("woff"),
        url("font/Moonlight-Regular.woff2")format("woff2")
}

/* Moonlight */
@font-face { 
    font-family:'Moonlight'; 
    font-style:normal; 
    font-weight:100; 
    src:url("font/Moonlight.ttf")format("truetype"),
        url("font/Moonlight.otf")format("otf");
}

/* Creattion  */
@font-face { 
    font-family:'Creattion'; 
    font-style:normal; 
    font-weight:400; 
    src:url("font/Creattion.ttf")format("truetype"),
        url("font/Creattion.otf")format("otf");
}

/* GowunDodum-Regular */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* KoPubWorld Dotum */
@font-face { 
    font-family:'KoPubWorld Dotum'; 
    font-style:normal; 
    font-weight:400; 
    src:local('KoPubWorldDotum'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Medium.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Medium.woff) format('woff'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Medium.otf) format('opentype')
}
@font-face { 
    font-family:'KoPubWorld Dotum'; 
    font-style:normal; 
    font-weight:700; 
    src:local('KoPubWorldDotum'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Bold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Bold.woff) format('woff'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Dotum-Bold.otf) format('opentype')
}

/* KoPubWorld Batang */
@font-face { 
    font-family:'KoPubWorld Batang';
    font-style:normal; 
    font-weight:300; 
    src:local('KoPubWorldBatang'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Light.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Light.woff) format('woff'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Light.otf) format('opentype')
} 
@font-face { 
    font-family:'KoPubWorld Batang';
    font-style:normal; 
    font-weight:400; 
    src:local('KoPubWorldBatang'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Medium.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Medium.woff) format('woff'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Medium.otf) format('opentype')
} 
@font-face { 
    font-family:'KoPubWorld Batang';
    font-style:normal; 
    font-weight:700; 
    src:local('KoPubWorldBatang'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Bold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Bold.woff) format('woff'),
        url(https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Bold.otf) format('opentype')
} 

/* InkLipquid */
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ChosunGs */
@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* KCC Eunyoung */
@font-face {
    font-family: 'kccEunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Jalnan */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RixInooAriDuri */
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* tangsbudaejjigae */
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* LeferiPoint */
@font-face {
    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-style:bold;
    font-weight: 700;
}
@font-face {
    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-style:light;
    font-weight: 200;
}
